<div class='container'>
  <div class='form1'>
    <form (ngSubmit)='changePassword(changePasswordForm)' #changePasswordForm='ngForm'>
      <div class='form-header'>
        <h2>Change Password</h2>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-envelope"></i>
        </span>
        <input id="email" type="text" class="form-control" name="email" readonly placeholder="{{userDetails.email}}">
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-lock"></i>
        </span>
        <input id="oldPassword" type="password" class="form-control" name="oldPassword" ngModel required placeholder="Password">
      </div>
      <div *ngIf='submitClick && changePasswordForm.form.controls.oldPassword.invalid' style='color:red;font-size:12px;margin-left:20px'>* required</div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-lock"></i>
        </span>
        <input id="newPassword" type="password" class="form-control" #rePassword name="newPassword" ngModel required placeholder="New Password">
      </div>
      <div *ngIf='submitClick && changePasswordForm.form.controls.newPassword.invalid' style='color:red;font-size:12px;margin-left:20px'>* required</div>

      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-lock"></i>
        </span>
        <input id="confirmNewPassword" type="password" class="form-control" name="confirmNewPassword" ngModel required placeholder="Confirm New Password">
      </div>
      <div *ngIf='submitClick && changePasswordForm.form.controls.confirmNewPassword.invalid' style='color:red;font-size:12px;margin-left:20px'>* required</div>
      <span *ngIf='passwordsMatching' style='color:red;font-size:12px;margin-left:20px'>* Passwords not matching</span>
      <div class="input-group">
        <button class='btn btn-warning '>Update</button>
      </div>
      <div *ngIf='isSuccessful' class="alert alert-success alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{successMessage}}
      </div>
      <div *ngIf='isNotSuccessful' class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Failure!</strong> {{successMessage}}
      </div>
    </form>
  </div>
</div>